.searchDropDownBlock {
    width: 100%;
    max-height: 370px;
    position: absolute;
    z-index: 10;
    overflow-y: scroll;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding-block: 10px;
}

.searchDropDownItem {
    width: 100%;
    min-height: 50px;
}