.countriesBlock {
    width: 100%;
    min-height: 100px;
    position: relative;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

.countries {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-block: 10px;
    gap: 7px;
}

.countriesTitle {
    width: 100%;
}

.countryBtn {
    width: 100%;
    border: none;
    background-color: #2E2F32;
    color: white;
    font-size: 17px;
    padding: 10px 15px;
    border-radius: 15px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.countryBtn:hover {
    background-color: #19191A;
    transition: 0.3s;
}

.countryBtn:active {
    background-color: #000000;
    transition: 0s;
}